@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: #180336;
}

#login-form {
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
}

#login-field, #field-forecast {
    color: #0a1129;
    height: 50px;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

#login-field::placeholder, #search-field::placeholder, #field-forecast::placeholder {
    color: #0a1129;
}

#login-btn, #search-btn {
    width: 50px;
    height: 50px;
    background: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

#login-btn:hover, #search-btn:hover {
    color: #fff;
    background: #d5d7de;
}

#greet {
    font-family: 'Roboto Condensed', sans-serif;
    left: 10px;
    width: 250px;
    height: 50px;
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: 0.6s ease-out;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 10px;
    font-size: 24px;
}

#search-form{
    width: 250px;
    height: 50px;
    background: #fff;
    padding: 30px 9px;
    overflow: hidden;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: 0.6s ease-out;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 20px;
}

#search-field {
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
}

#weather-form {
    background: #fff;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    display: none;
    transition: 0.6s ease-out;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
}

#weather-img {
    width: 150px;
    height: 150px;
    margin: auto;
}

#weather-locality, #weather-temp {
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

#weather-condition {
    color: #797676;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
}

#form-checkbox {
    width: 250px;
    height: 350px;
    background: #fff;
    padding: 30px 9px;
    overflow: hidden;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    transition: 0.6s ease-out;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 75px;
    right: 10px;
    margin-bottom: 20px;
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
}

#filters-title {
    margin-left: 65px;
    margin-top: -20px;
}

#weather-error {
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 24px;
    font-weight: 500;
}

#form-modes {
    width: 250px;
    height: 100px;
    background: #fff;
    padding: 13px 9px;
    overflow: hidden;
    border-radius: 18px;
    align-items: center;
    justify-content: space-between;
    display: grid;
    transition: 0.6s ease-out;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 430px;
    right: 10px;
    margin-bottom: 20px;
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
}

#modes-title {
    margin-left: 65px;
    margin-top: -15px;
}

#form-forecasts {
    width: 97%;
    height: 100px;
    padding: 13px 9px;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: 0.6s ease-out;
    position: absolute;
    bottom: 10px;
    left: 18px;
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
}

.weather.forecast {
    border-radius: 18px;
    background: #fff;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.6);
}

.weather-additional {
    position: relative;
    margin: auto;
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 24px;
    font-weight: 500;
}

.weather {
    text-align: center;
}

.position-center {
    margin: auto;
}

.shake {
    animation: horizontal-shaking .2s 1;
}

.appear {
    animation: opacityOn 1s normal forwards;
}

.disappear {
    animation: opacityOff 1s normal forwards;
}

.filters-text {
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 25px;
    font-weight: 500;
}

.modes-text {
    color: #0a1129;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 25px;
    font-weight: 500;
}

.forecast {
    display: none;
}

.weather-date {
    position: relative;
    color: #797676;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 50px;
    top: 25px;
}

.weather.forecast:hover {
    cursor: pointer;
}

.weather.forecast[forecast-active] {
    background:#0ECFF7;
}
  
@keyframes opacityOff {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes opacityOn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes horizontal-shaking {
    0% { 
        transform: translateX(0);
    }
    25% { 
        transform: translateX(7px);
    }
    50% { 
        transform: translateX(-7px);
    }
    75% { 
        transform: translateX(7px);
    }
    100% { 
        transform: translateX(0);
    }
}